_/Chapter2_5_6_7/SOASuiteDevelopersGuide/SOASuiteDevelopersGuide/CompletedExamples/Chapter02/Echo/bpel/Echo.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Echo"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="EchoProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="EchoProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>