_/oBay/JDeveloper/UserAccount/BillUser/bpel/ValidateEmailAddress.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ValidateEmailAddress"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ValidateEmailAddressProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ValidateEmailAddressProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>