_/oBay/JDeveloper/Auction/Auction/output/bpel/Auction.wsdl

<definitions
     name="Auction"
     targetNamespace="http://xmlns.packtpub.com/obay/bs/Auction"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
     xmlns:tns="http://xmlns.packtpub.com/obay/bs/Auction"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:pns1="http://xmlns.packtpub.com/obay/bs/Auction/correlationset"
     xmlns:auc="http://schemas.packtpub.com/obay/auc"
    >
    <import namespace="http://xmlns.packtpub.com/obay/bs/Auction/correlationset" location="Auction_Properties.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:auc="http://schemas.packtpub.com/obay/auc"
             targetNamespace="http://xmlns.packtpub.com/obay/bs/Auction" xmlns:tns="http://xmlns.packtpub.com/obay/bs/Auction"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
             xmlns:pns1="http://xmlns.packtpub.com/obay/bs/Auction/correlationset">
            <import namespace="http://schemas.packtpub.com/obay/auc" schemaLocation="http://localhost/orabpel/xmllib/obay/Auction_v1_0.xsd"/>
            <import namespace="http://schemas.packtpub.com/obay/flt" schemaLocation="http://localhost/orabpel/xmllib/obay/Fault_v1_0.xsd"/>
            <element name="initiateAuction" type="tns:tInitiateAuction"/>
            <element name="returnAuctionResult" type="tns:tReturnAuctionResult"/>
            <element name="submitBid" type="tns:tSubmitBid"/>
            <element name="returnBidResult" type="tns:tReturnBidResult"/>
            <complexType name="tInitiateAuction">
                <sequence>
                    <element ref="auc:auctionId"/>
                    <element ref="auc:auctionType"/>
                    <element ref="auc:startTime"/>
                    <element ref="auc:endTime"/>
                    <element ref="auc:startingPrice"/>
                    <element ref="auc:reservePrice"/>
                </sequence>
            </complexType>
            <complexType name="tReturnAuctionResult">
                <sequence>
                    <element ref="auc:auctionId"/>
                    <element ref="auc:auctionStatus"/>
                    <element ref="auc:winningBid"/>
                </sequence>
            </complexType>
            <complexType name="tSubmitBid">
                <sequence>
                    <element ref="auc:auctionId"/>
                    <element ref="auc:bidId"/>
                    <element ref="auc:bidderId"/>
                    <element ref="auc:maxAmount"/>
                </sequence>
            </complexType>
            <complexType name="tReturnBidResult">
                <sequence>
                    <element ref="auc:bidId"/>
                    <element ref="auc:bid"/>
                    <element ref="auc:auction"/>
                </sequence>
            </complexType>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.packtpub.com/obay/bs/Auction"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:auc="http://schemas.packtpub.com/obay/auc"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/" xmlns:pns1="http://xmlns.packtpub.com/obay/bs/Auction/correlationset">
            <xsd:import namespace="http://schemas.packtpub.com/obay/auc" schemaLocation="rules/xsd/Auction_v1_0.xsd"/>
        </xsd:schema>
    </types>
    <message name="initiateAuction">
        <part name="payload" element="tns:initiateAuction"/>
    </message>
    <message name="submitBid">
        <part name="payload" element="tns:submitBid"/>
    </message>
    <message name="returnAuctionResult">
        <part name="payload" element="tns:returnAuctionResult"/>
    </message>
    <message name="returnBidResult">
        <part name="payload" element="tns:returnBidResult"/>
    </message>
    <portType name="Auction">
        <operation name="initiateAuction">
            <input message="tns:initiateAuction"/>
        </operation>
        <operation name="submitBid">
            <input message="tns:submitBid"/>
        </operation>
    </portType>
    <portType name="AuctionCallback">
        <operation name="returnAuctionResult">
            <input message="tns:returnAuctionResult"/>
        </operation>
        <operation name="returnBidResult">
            <input message="tns:returnBidResult"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="Auction">
        <plnk:role name="AuctionProvider">
            <plnk:portType name="tns:Auction"/>
        </plnk:role>
        <plnk:role name="AuctionRequester">
            <plnk:portType name="tns:AuctionCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <bpws:propertyAlias propertyName="pns1:auctionId" messageType="tns:initiateAuction" part="payload" query="/tns:initiateAuction/auc:auctionId"/>
    <bpws:propertyAlias propertyName="pns1:auctionId" messageType="tns:submitBid" part="payload" query="/tns:submitBid/auc:auctionId"/>
</definitions>
