_/oBay/JDeveloper/OrderFulfillment/SetPaymentMade/bpel/SetShippingDetails.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SetShippingDetails"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SetShippingDetailsProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SetShippingDetailsProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>