_/oBay/JDeveloper/OrderFulfillment/SetPaymentMade/bpel/UserMetadata.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://xmlns.oracle.com/bpel/workflow/userMetadata"
            xmlns:common="http://xmlns.oracle.com/bpel/workflow/common"
            xmlns:query="http://xmlns.oracle.com/bpel/workflow/taskQuery"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0"
            targetNamespace="http://xmlns.oracle.com/bpel/workflow/userMetadata"
            elementFormDefault="qualified">
  <xsd:annotation>
  <xsd:appinfo>
  <jaxb:schemaBindings>
    <jaxb:package name="oracle.bpel.services.workflow.user.model"/>
  </jaxb:schemaBindings>
  </xsd:appinfo>
  </xsd:annotation>
  
  <xsd:import schemaLocation="WorkflowCommon.xsd"
              namespace="http://xmlns.oracle.com/bpel/workflow/common"/>
  <xsd:import schemaLocation="TaskQuery.xsd"
              namespace="http://xmlns.oracle.com/bpel/workflow/taskQuery"/>
  <xsd:element name="rulesetInfo">
    <xsd:annotation>
      <xsd:documentation>rulesetInfo provides information necessary to access a
                         ruleset from the Rule Engine SDK</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="repositoryInfo" type="ruleRepositoryInfoType"/>
        <xsd:element name="rulesetName" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ruleRepositoryInfo" type="ruleRepositoryInfoType"/>
  <xsd:element name="vacationInfo">
    <xsd:annotation>
      <xsd:documentation>Details the current vacation dates for a user. If no
                         vacation dates are set for user, startDate and endDate
                         elements should be empty. isOnVacation attribute will
                         be set to true if currentDate is between startDate and
                         endDate.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="user" type="common:principleRefType"/>
        <xsd:element name="startDate" type="xsd:dateTime" nillable="true"/>
        <xsd:element name="endDate" type="xsd:dateTime" nillable="true"/>
      </xsd:sequence>
      <xsd:attribute name="isOnVacation" type="xsd:boolean"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ruleList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="rule" type="ruleInfoType" maxOccurs="unbounded"
                     minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ruleDetail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="generalInfo" type="ruleInfoType"/>
        <xsd:element name="taskTests" type="ruleTestListType"></xsd:element>
        <xsd:element name="payloadTests" type="ruleTestListType"></xsd:element>
        <xsd:element name="action" type="ruleActionType"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="userViewList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="view" maxOccurs="unbounded" minOccurs="0"
                     type="viewSummaryType"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="grantedViewList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="viewGrant" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="viewGrant" type="viewGrantType"/>
  <xsd:element name="userViewDetail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="id" type="xsd:string"/>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="owner" type="common:principleRefType"/>
        <xsd:element name="hidden" type="xsd:boolean"/>
        <xsd:element name="description" type="xsd:string"/>
        <xsd:element name="viewColumns" type="columnListType"></xsd:element>
        <xsd:element name="viewOptionalInfo" type="query:taskOptionalInfoType"/>
        <xsd:element name="viewPredicate" type="query:taskPredicateType"/>
        <xsd:element name="viewOrdering" type="query:taskOrderingType"/>
        <xsd:element name="grantees" type="viewGranteeListType"></xsd:element>
        <xsd:element name="chart" minOccurs="0" type="chartType"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="viewType" type="viewTypeEnum" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="userPreferences">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="userPreference" type="userPreferenceType"
                     maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="userPreference" type="userPreferenceType"/>
  <xsd:element name="successResponse" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>
        This element is used in WSDL bindings to provide a return message for
        operations that have no return value. It is used to send a
        confirmation message to the client (since wsdl operations with a 'fault'
        must also have an 'output' defined)
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ruleRepositoryInfoType">
    <xsd:sequence>
      <xsd:element name="ruleEngine" type="ruleEngineEnum"/>
      <xsd:element name="repositoryLocation" type="xsd:string"/>
      <xsd:element name="dictionaryName" type="xsd:string"/>
      <xsd:element name="reposProperty" type="propertyType"
                   maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="propertyType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="name"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ruleInfoType">
    <xsd:sequence>
      <xsd:element name="ruleId" type="xsd:string"/>
      <xsd:element name="ruleName" type="xsd:string"/>
      <xsd:element name="priority" type="xsd:int"/>
      <xsd:element name="owner" type="common:principleRefType"/>
      <xsd:element minOccurs="0" name="workflowId"
                   type="xsd:string"/>
      <xsd:element name="startDate" type="xsd:dateTime" nillable="true"/>
      <xsd:element name="endDate" type="xsd:dateTime" nillable="true"/>
      <xsd:element name="description" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="ruleType" type="ruleTypeEnum"/>
  </xsd:complexType>
  <xsd:complexType name="ruleAssignmentType">
    <xsd:sequence>
      <xsd:element name="assignee" type="common:principleRefType"/>
      <xsd:element name="dynamicAssignmentFunction" type="xsd:string"
                   maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ruleTestType">
    <xsd:sequence>
      <xsd:element name="field" type="xsd:string"/>
      <xsd:element name="operation">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="EQ"/>
            <xsd:enumeration value="NEQ"/>
            <xsd:enumeration value="GTE"/>
            <xsd:enumeration value="LTE"/>
            <xsd:enumeration value="LT"/>
            <xsd:enumeration value="GT"/>
            <xsd:enumeration value="CONTAINS"/>
            <xsd:enumeration value="NOT CONTAINS"/>
            <xsd:enumeration value="BEGINS"/>
            <xsd:enumeration value="NOT BEGINS"/>
            <xsd:enumeration value="ENDS"/>
            <xsd:enumeration value="NOT ENDS"/>
            <xsd:enumeration value="BEFORE"/>
            <xsd:enumeration value="AFTER"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:choice>
        <xsd:element name="value" type="xsd:string"/>
        <xsd:element name="dateValue" type="xsd:dateTime"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ruleTestListType">
    <xsd:sequence>
      <xsd:element name="test" type="ruleTestType" minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ruleActionType">
    <xsd:annotation>
      <xsd:documentation>
         noOperation is intended to be empty tag. Type is set to xsd:string to
        work-around JAXB-generation issues...
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="noOperation" type="xsd:string"/>
      <xsd:element name="reassign" type="ruleAssignmentType"/>
      <xsd:element name="delegate" type="ruleAssignmentType"/>
      <xsd:element name="setOutcome" type="xsd:string"/>
    </xsd:choice>
    <xsd:attribute name="actionType" type="actionTypeEnum" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="viewSummaryType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="owner" type="common:principleRefType"/>
      <xsd:element name="hidden" type="xsd:boolean"/>
      <xsd:element name="viewType" type="viewTypeEnum"/>
      <xsd:element name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="viewGrantType">
    <xsd:sequence>
      <xsd:element name="viewId" type="xsd:string"/>
      <xsd:element name="grantee" type="common:principleRefType"/>
      <xsd:element name="grantedName" type="xsd:string"/>
      <xsd:element name="grantedDescription" type="xsd:string"/>
      <xsd:element name="hidden" type="xsd:boolean"/>
      <xsd:element name="viewOwner" type="common:principleRefType"/>
      <xsd:element name="originalName" type="xsd:string"/>
      <xsd:element name="originalDescription" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="grantType" use="required" type="grantTypeEnum"/>
  </xsd:complexType>
  <xsd:complexType name="viewGranteeType">
    <xsd:complexContent>
      <xsd:extension base="common:principleRefType">
        <xsd:attribute name="grantType" use="required" type="grantTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="viewGranteeListType">
    <xsd:sequence>
      <xsd:element name="grantee" type="viewGranteeType" minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="columnType">
    <xsd:sequence>
      <xsd:element name="columnName" type="xsd:string"/>
      <xsd:element name="displayName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="columnListType">
    <xsd:sequence>
      <xsd:element name="column" type="columnType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="chartType">
    <xsd:sequence>
      <xsd:element name="groupByColumn" type="xsd:string"/>
      <xsd:element name="selectValues" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="userPreferenceType">
    <xsd:sequence>
      <xsd:element name="user" type="common:principleRefType"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="xpathExpressionType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="assigneeType" type="ruleTypeEnum" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ruleEngineEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ORACLE"/>
      <xsd:enumeration value="OTHER"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ruleTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="USER"/>
      <xsd:enumeration value="GROUP"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="viewTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INBOX"/>
      <xsd:enumeration value="VIEW"/>
      <xsd:enumeration value="REPORT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="grantTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SHARE_DATA"/>
      <xsd:enumeration value="SHARE_DEFINITION"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="actionTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NOOPERATION"/>
      <xsd:enumeration value="REASSIGN"/>
      <xsd:enumeration value="DELEGATE"/>
      <xsd:enumeration value="SETOUTCOME"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
