_/oBay/JDeveloper/OrderFulfillment/SetItemShipped/output/bpel/SetPaymentReceived.wsdl

<definitions
     name="SetPaymentReceived"
     targetNamespace="http://xmlns.packtpub.com/obay/bs/SetPaymentReceived"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ord="http://schemas.packtpub.com/obay/ord"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:wfc="http://xmlns.oracle.com/bpel/workflow/common"
     xmlns:cmn="http://schemas.packtpub.com/obay/cmn"
     xmlns:flt="http://schemas.packtpub.com/obay/flt"
     xmlns:client="http://xmlns.packtpub.com/obay/bs/SetPaymentReceived"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.packtpub.com/obay/bs/SetPaymentReceived"
             xmlns:ord="http://schemas.packtpub.com/obay/ord" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:cmn="http://schemas.packtpub.com/obay/cmn" xmlns:client="http://xmlns.packtpub.com/obay/bs/SetPaymentReceived"
             xmlns:wfc="http://xmlns.oracle.com/bpel/workflow/common">
            <import namespace="http://xmlns.oracle.com/bpel/workflow/common" schemaLocation="WorkflowCommon.xsd"/>
            <import namespace="http://schemas.packtpub.com/obay/ord" schemaLocation="http://localhost/orabpel/xmllib/obay/Order_v1_0.xsd"/>
            <import namespace="http://schemas.packtpub.com/obay/flt" schemaLocation="http://localhost/orabpel/xmllib/obay/Fault_v1_0.xsd"/>
            
            <element name="setPaymentReceived" type="client:tSetPaymentReceived"/>
            <element name="setPaymentReceivedResponse" type="client:tSetPaymentReceivedResponse"/>
            <complexType name="tSetPaymentReceived">
                <sequence>
                    <element ref="wfc:workflowContext"/>
                    <element ref="ord:orderNo"/>
                </sequence>
            </complexType>
            <complexType name="tSetPaymentReceivedResponse">
                <sequence>
                    <element ref="ord:order"/>
                </sequence>
            </complexType>
        </schema>
    </types>
    <message name="setPaymentReceived">
        <part name="payload" element="client:setPaymentReceived"/>
    </message>
    <message name="setPaymentReceivedResponse">
        <part name="payload" element="client:setPaymentReceivedResponse"/>
    </message>
    <message name="invalidActionFault">
        <part name="payload" element="flt:fault"/>
    </message>
    <portType name="SetPaymentReceived">
        <operation name="setPaymentReceived">
            <input message="client:setPaymentReceived"/>
            <output message="client:setPaymentReceivedResponse"/>

            <!-- Returned if user details are invalid -->
            <fault name="invalidAction"
                   message="client:invalidActionFault"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="SetPaymentReceived">
        <plnk:role name="SetPaymentReceivedProvider">
            <plnk:portType name="client:SetPaymentReceived"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
