_/oBay/JDeveloper/OrderFulfillment/GetPurchasedItems/output/bpel/TaskQueryService.wsdl

<?xml version='1.0' encoding='windows-1252'?>
<definitions name="TaskQueryService" 
             targetNamespace="http://xmlns.oracle.com/bpel/workflow/taskQueryService"
             xmlns:taskQueryService="http://xmlns.oracle.com/bpel/workflow/taskQueryService"
             xmlns:tns="http://xmlns.oracle.com/bpel/workflow/taskQueryService"
             xmlns:common="http://xmlns.oracle.com/bpel/workflow/common"
             xmlns:task="http://xmlns.oracle.com/bpel/workflow/task"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/"
             xmlns:java="http://schemas.xmlsoap.org/wsdl/java/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/">

  <documentation>
    TaskQueryService is used for retrieving task information based on queries and views
  </documentation>

  <import namespace="http://xmlns.oracle.com/bpel/workflow/taskQueryService" 
          location="TaskQueryService.xsd"/>
  <import namespace="http://xmlns.oracle.com/bpel/workflow/taskQueryService" 
          location="TaskQueryServiceInterface.wsdl"/>
 
  <!-- Binding declarations. Task query service uses SOAP/HTTP -->
  <binding name="TaskQueryServiceSOAPBinding" type="tns:TaskQueryService">
    <documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic1.0/"/>
    </documentation>

    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="authenticate">
      <soap:operation style="document" soapAction=""/>
      <input name="authenticateInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="authenticateOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="processingErrorFault">
        <soap:fault use="literal" parts="payload"/>
      </fault>
    </operation>

    <operation name="destroyWorkflowContext">
      <soap:operation style="document" soapAction=""/>
      <input name="destroyContextInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="destroyContextOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="processingErrorFault">
        <soap:fault use="literal" parts="payload"/>
      </fault>
    </operation>

    <operation name="queryTasks">
      <soap:operation style="document" soapAction=""/>
      <input name="queryTasksInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="queryTasksOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="processingErrorFault">
        <soap:fault use="literal" parts="payload"/>
      </fault>
    </operation>

    <operation name="queryViewTasks">
      <soap:operation style="document" soapAction=""/>
      <input name="queryViewTasksInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="queryViewTasksOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="processingErrorFault">
        <soap:fault use="literal" parts="payload"/>
      </fault>
    </operation>

    <operation name="getTaskHistory">
      <soap:operation style="document" soapAction=""/>
      <input name="getTaskHistoryInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getTaskHistoryOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="processingErrorFault">
        <soap:fault use="literal" parts="payload"/>
      </fault>
    </operation>

    <operation name="getTaskDetailsById">
      <soap:operation style="document" soapAction=""/>
      <input name="getTaskDetailsByIdInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getTaskDetailsByIdOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="processingErrorFault">
        <soap:fault use="literal" parts="payload"/>
      </fault>
    </operation>

    <operation name="getTaskDetailsByNumber">
      <soap:operation style="document" soapAction=""/>
      <input name="getTaskDetailsByNumberInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getTaskDetailsByNumberOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="processingErrorFault">
        <soap:fault use="literal" parts="payload"/>
      </fault>
    </operation>

    <operation name="getTaskVersionDetails">
      <soap:operation style="document" soapAction=""/>
      <input name="getTaskVersionDetailsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getTaskVersionDetailsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="processingErrorFault">
        <soap:fault use="literal" parts="payload"/>
      </fault>
    </operation>

  </binding>

  <!-- Service declarations. All services uses SOAP/HTTP -->
  <service name="TaskQueryService">
    <port name="TaskQueryServicePort" binding="tns:TaskQueryServiceSOAPBinding">
      <soap:address location="http://localhost:80/integration/services/TaskQueryService/TaskQueryService"/>
    </port>
  </service>

</definitions>




