_/oBay/xmllib/obay/Fault_v1_0.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://schemas.packtpub.com/obay/flt"
            targetNamespace="http://schemas.packtpub.com/obay/flt"
            elementFormDefault="qualified">

    <xsd:element name="fault"                  type="tFault"/>
    
    <xsd:complexType name="tFault">
        <xsd:sequence>
            <xsd:element name="code"        type="xsd:string"/>
            <xsd:element name="summary"     type="xsd:string" /> 
            <xsd:element name="detail"      type="xsd:string" />         
        </xsd:sequence>
    </xsd:complexType> 

    
</xsd:schema>